.eye-icon {
	top: 30%;
	right: 5px;
	cursor: pointer;
}

.cancel-icon {
	right: 10px;
	top: 4%;
	cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.forgot-password-text {
	text-decoration: underline;
	cursor: pointer;
}

.try-another-way-text {
	cursor: pointer;
}

.sidebar li:not([aria-current="true"]):hover {
	cursor: pointer;
	/* change later */
	background-color: rgb(135, 155, 235);
	color: white;
}

#upload-img-container {
	transition: 0.1s;
}

#upload-img-container:hover {
	background-color: rgb(222, 221, 221);
}

.add-new-post-container {
	width: 100%;
	height: 650px; /* Set the desired height for your scrollable container */
	overflow: hidden;
	position: relative;
}

.add-new-post-content {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	padding-right: 17px; /* Adjust to compensate for the scrollbar width */
	box-sizing: content-box;
	scrollbar-width: thin;
	scrollbar-color: transparent transparent;
}

.add-new-post-content::-webkit-scrollbar {
	width: 10px; /* Adjust to compensate for the scrollbar width */
}

.add-new-post-content::-webkit-scrollbar-thumb {
	background-color: rgb(186, 186, 186);
}

.add-new-image:hover {
	opacity: 0.7;
}

.like-container:hover {
	background-color: rgb(222, 221, 221);
}

.like-button {
	transition: 0.2s ease-in-out;
}

.like-button.active {
	transform: scale(1.3);
}
